/* Global Styles ---------------------------------------------------------------------------

Put things in here that effect everything on the page:

* Body - Fonts, background colours etc
* Global containers

--------------------------------------------------------------------------------------*/

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div#container {
  min-height: 100vh;
  display: flex;
  text-align: center;
}

p {
  padding: 25px;
  min-width: 300px;
}

/*
Two distinct sections

Left / Right

Main is the content that belongs to the right section

Section left is only visible on desktop and laptop devices: 

Collapses at 900px or less screen size

*/

section#left {
  flex: 1;
  flex-basis: 300px;
  background: url(images/sean-pollock-PhYq704ffdA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: cover;
  background-color: #cfe2e636;
  background-blend-mode: color-burn;
}

section#right {
  flex: 2;
  padding: 100px;
}

main {
  display: flex;
  justify-content: center;
}

div#logo img {
  width: 200px;
  height: auto;
}

/*
Button, form and input styles

Elements used: 

Input[email/text/password], Select, Radio 
*/
form {
  min-width: 150px;
  max-width: 450px;
  display: flex;
  flex: 1;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  background-color: #08d2ff;
  height: 35px;
  margin-top: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"],
select,
div#personal,
div#business,
input {
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.39);
  margin: 7px 0 7px 0;
  padding-left: 10px;
  background-color: white;
}

input[type="radio"] {
  display: inline;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(128, 128, 128, 0.39);
  align-self: center;
  position: relative;
  left: 8px;
  accent-color: #2ec;
}

input[type="radio"]:checked {
  border: 3px solid rgba(128, 128, 128, 0.39);
  background-color: #08d2ff;
}

input:focus {
  border-color: #08d2ff;
}

select:focus {
  border: 3px solid #3584e4;
}
input:invalid {
  /* border: 1px solid red; */
}
label {
  text-align: left;
  color: gray;
  font-size: 0.75rem;
}

div#personal,
div#business {
  display: flex;
  justify-content: column;
  width: 46%;
}

div#selectwrapper {
  display: flex;
  justify-content: space-between;
  margin: 7px 0 7px 0;
}

select {
  padding: 7px;
  appearance: none;
  display: block;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: white;
}

span {
  padding-left: 15px;
  padding-top: 6px;
}

@media screen and (max-width: 900px) {
  section#left {
    display: none;
  }
}
